body {
    background-color: #F0FFFF;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 12px;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
    max-height: auto;
    max-width: auto;
}

input {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    padding: 10px;
    width: 94%;
}


/********** Header **********/

.headerMenu {
    background-color: #00B9ED;
    height: 4.167em;
    border-bottom: 0px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100em;
    padding-top: 0px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo {
    width: 15.25em;
}

#title-spacer {
    background-color: #ff0000;
    width: 100%;
    height: 0.5em;
}

#title a {
    font: bold 35px Arial, Helvetica, Sans-serif;
    color: #f5f5f5;
    padding-bottom: 5px;
    text-decoration: none;
}

.dropdown {
    padding-top: 0.7em;
}


/********** Login Box **********/

.login-box {
    width: 33.333em;
    height: 17.083em;
    background-color: #00B9ED;
    border-radius: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#register {
    float: right;
    color: #0000ff;
    font-size: 15px;
}


/********** Registration Box **********/

.register-box {
    width: 33.333em;
    height: 26.25em;
    background-color: #00B9ED;
    border-radius: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.register-box .ng-invalid.ng-dirty {
    border-color: #FF0000;
}

.register-box .ng-valid.ng-dirty {
    border-color: #78FA89;
}


/********** Account Box **********/

.account-box {
    width: 33.333em;
    height: 27.5em;
    background-color: #00B9ED;
    border-radius: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding-top: 1%;
    padding-bottom: 8%;
}

.nav-buttons button {
    width: 8em;
}

.account-box .ng-invalid.ng-dirty {
    border-color: #FF0000;
}

.account-box .ng-valid.ng-dirty {
    border-color: #78FA89;
}


/********** Box Styles **********/

.box-content {
    padding: 15px;
}

#box-title {
    font-size: 20px;
}

.box-fields {
    padding-top: 1%;
    padding-bottom: 1%;
}

.error {
    float: right;
    color: #d00000;
    font-size: 15px;
}

.success {
    float: right;
    color: #00ff00;
    font-size: 15px;
}


/********** Profile **********/

.profile {
    padding: 3em;
}

.row-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.profile-picture {
    cursor: pointer;
    height: 17em;
    width: 17em;
    border: 4px solid #00B9ED;
    background-color: black;
    border-radius: 10px;
}

.content {
    margin-left: 2.5em;
}

.username {
    font-size: 3em;
}

.profile-nav {
    justify-content: flex-start;
}

.profile-nav button {
    margin-right: 3em;
    width: 9em;
}

.wall textarea {
    width: 30em;
    height: 3.3em;
    font-family: Arial, Helvetica, Sans-serif;
}

.wall textarea:focus {
    height: 7.4em;
    cursor: text;
}