<div class="profile">
    <div class="row-header">
        <div class="profile-picture"></div>

        <div class="content">
            <div class="username">{{user}}</div>
            <div class="nav-buttons profile-nav">
                <button class="button button-rounded button-flat-caution" ng-click="setTab(1)">About Me</button>
                <button class="button button-rounded button-flat-caution" ng-click="setTab(2)">Lifts</button>
                <button class="button button-rounded button-flat-caution" ng-click="setTab(3)">Wall</button>
            </div>

            <div class="wall" ng-show="isSelected(3)">
                <div class="wallpost-container">
                    <textarea type="text" name="wallpost" placeholder="Write a post..." ng-keyup="processLength()" ng-model="profileForm.wallpost"></textarea>
                    <div>
                        <button class="button button-primary button-rounded button-flat" ng-click="post()">Post</button>
                        {{charsLeft}} characters left
                    </div>
                </div>

                <div ng-repeat="wallpost in wallposts | orderBy: '-date'" class="wallpost">
                    <div class="date">{{wallpost.date | date:"MMM d, yyyy 'at' h:mma"}}</div>
                    {{wallpost.message}}
                </div>
            </div>
        </div>

    </div>
</div>